{% extends 'base.html.twig' %}

{% block body %}
    
    
	<h1>Position</h1>
	{{ position.title}}
	{{ position.description}}


    <a href =" {{ showCandidateURL }} ">{{ showCandidateText }} </a>
       
    {% for candidate in candidates %}
        <h4> {{ candidate }} </h4>

    {% endfor %} 
	
{% endblock %}