<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

        <body>
                <!-- navbar -->
            <div class="container-xl navbar-custom">
                <nav class="navbar navbar-expand-md navbar-custom navbar-light ">
                    <a class="navbar-brand" href="{{ path('home')}} ">Lutèce</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li>
                                <a class="nav-link" href=" {{ path ('project_index')}}">projects</a>
                            </li>
                            <li>	
                                <a class="nav-link" href="path('developer_index')">about <strike>us</strike> me</a>
                            </li>
                            <li>
                                <a class="nav-link" href=" {{ path('app_login')}} ">connexion</a>
                            </li>

                            {% if app.user %}
                                <li>
                                    <a class="nav-link" href=" {{ path('developer',{slug: developer.slug})}} "> My dashbord</a>
                                </li>
                            {% endif %}
                            
                        </ul>
                    </div>    
                </nav>
            </div>
    <body>
    {% block body %}{% endblock %}
</html>
