{% extends 'base.html.twig' %}

{% block body %}
    

	{% for candidate in candidates %}
		<h4> {{ candidate }} {{ candidate.position}}  {{ candidate.state }}</h4>


		{% if workflow_can(candidate, 'validate')%}
			<a href =" {{ path('developer',{ slug: developer.slug}) }}/candidate/{{ candidate.slug }}/validate "> validate</a>
		{% endif %}
    {% endfor %}



{% endblock %}