{% extends 'base.html.twig' %}

{% block body %}
    
    



	<div class="container-xl circle-img">
		<div class="row">
			<div class = "col-sm-1 h-100 text-center ">
				<img class=" rounded-circle img-fluid photosize" src="/uploads/developer_photo/{{developer.photoFileName}}" alt="..." >
                <a href =" {{ editIntroURL }} ">{{ edit }}</a>
			</div>
			<div class ="col-sm-5">
				<p>
					
				</p>	
			</div>
			<div class ="col-sm-3">
				<p>
					
				</p>
			</div>
			<div class ="col-sm-2">
					<a  href=" {{ path('app_login')}} ">Message</a>
			</div>
		</div>


		<a class="nav-link" href=" {{ path('developer_candidates', { slug: developer.slug})}} ">candidates</a>	
		



{% endblock %}