{% extends 'base.html.twig' %}

{% block body %}
    
    

	<a href=" {{ editIntroURL }} "> Add activity </a>

	{{project.id}}


	<a  href=" {{ addPositionURL }} ">Add position</a>

	{% for position in positions %}
        <h4> {{ position.title }} </h4>
		<p> {{ position.description }} </p>

    {% endfor %}  
{% endblock %}