{% extends 'base.html.twig' %}

{% block body %}
    
    
	<h1>Project</h1>
	project name :{{ project.projectName}}
	project description : {{ project.description}}
	<a href =" {{ editProjectURL }} ">{{ editProjectText }}</a>

	<a  href=" {{ addPositionURL }} "> {{ addPositionText }}</a>

	{% for position in positions %}
        <h4> {{ position.title }} </h4>
		<p> {{ position.description }} </p>
		<p> 
            <a href=" {{ path('position',{ slug: position.slug})}} "> View position </a>
        </p>

    {% endfor %}  
{% endblock %}